# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Environment Variables
.env

# VS Code
.vscode/

# Streamlit Secrets
.streamlit/secrets.toml

# SQL Server files (if applicable)
*.mdf
*.ldf

# Test Cache
.pytest_cache/

# macOS
.DS_Store